/* .container {
  padding: 20px;
}
.goBackBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
.goBackBtn:hover {
  background-color: #0056b3;
}
.movieInfo {
  display: flex;
  gap: 20px;
}
.poster {
  width: 300px;
  border-radius: 10px;
}
.additionalInfo {
  margin-top: 20px;
}
.additionalInfo ul {
  list-style: none;
  padding: 0;
}
.additionalInfo li {
  margin: 5px 0;
}
.additionalInfo a {
  text-decoration: none;
  color: #007bff;
}
.additionalInfo a:hover {
  text-decoration: underline;
} */
