.home {
  color: #122d17;
}
/*font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #8a2be2);
  background-size: 200% 100%; 
  background-clip: text;
  color: transparent;
  animation: rainbowText 7s linear infinite; 
@keyframes rainbowText {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
  */

