.home {
  color: #122d17;
  margin-bottom: 40px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 
               0 0 20px rgba(255, 255, 255, 0.6), 
               0 0 30px rgba(255, 255, 255, 0.2);
}
.movieitem {
  color: #65a455;
}

